
h1{
    background-color: rgb(245, 135, 9);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font: 300;
    color: blue;
    padding: 30px
}
a{
max-inline-size: 20px; 
text-decoration:rgb(3, 80, 247)
color: rgb(233, 23, 152);  
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-left: 50px;

}
button{
 display: -ms-inline-flexbox;  
 background-color: rgb(255, 145, 0); 
 text-size-adjust: 30px;
 size-adjust: 50px;
 color: rgb(209, 228, 44), 0);
 figcaption{
    color: blue;
    font-size: medium;
 }